appdirs==1.4.3
asn1crypto==0.22.0
cffi==1.10.0
cryptography==1.8.1
enum34==1.1.6
idna==2.5
ipaddress==1.0.18
mistune==0.7.4
mistune-contrib==0.1
ndg-httpsclient==0.4.2
oauthlib==2.0.2
packaging==16.8
pyasn1==0.2.3
pycparser==2.17
pyOpenSSL==17.0.0
pyparsing==2.2.0
requests==2.9.1
requests-oauth==0.4.1
requests-oauthlib==0.8.0
six==1.10.0
uritemplate==3.0.0
uritemplate.py==3.0.2
urllib3==1.14
web.py==0.37
