body{
	margin: 0;
}

#up{
	height: auto;
	display: -webkit-flex;
    display: flex;
    display: -ms-flexbox;	
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;	
}

.description{	
	-ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}	

#versioning{
	height: 90vh;
	display: -webkit-flex;
    display: flex;
    display: -ms-flexbox;		
}

.window{
	-ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
	overflow: auto;	
	border: black 1px solid;
	font-size: 16px;
	margin: 20px;
	margin-top:0px;
}

.btn1{
	position: relative;
	top: 300px;	
	width: 30px;
	height: 30px;
	background-color: transparent;
    border: transparent;
}

.btn1:hover{
    background-color: #CCCCFF;
}

#down{
	height: auto;
	display: -webkit-flex;
    display: flex;
    display: -ms-flexbox;
	margin-left: 20px;
	margin-right: 20px;	
}

.legend{
	-ms-flex: 2;
    -webkit-flex: 2;
    flex: 2;	
}

.l{
	display: inline-block;
	margin-right: 50px;
}

.legend span{	
    float: left;
    height: 15px;
    width: 50px;
    margin-right: 5px;	   
	border-radius: 3px;
	display: inline;
} 

.btndown{	
	-ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
	float: right;
    display: inline-block;	
}

.btn2{
	position: relative;
    height: 25px;
	float: right;	
	background-color: transparent;
    border: transparent;
}

.btn2:hover{
    background-color: #CCCCFF;
}