body {
    margin: 0;
    overflow: hidden;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    background-color: #FFFFFF;
}

nav {
    background-color: whitesmoke;
    padding: 10px;
}

#previewDialog{
    margin-left: auto;
    margin-right: auto;
    height: 297mm;
    width: 210mm;
}

#editor {
    color: whitesmoke;
    background-color: #4d4d4c;
    resize: none;
    font-size: 16px;
    height: 100%;
    width: 40%;
    float: left;
    border: none;
    padding: 0;
    margin: 0;
}

#preview {
    float: left;
    width: 40%;
}

#previewValue {
    overflow: auto;
    word-wrap: break-word;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

/*--------------------general--------------------*/
#table th {
    text-align: left;
}

.ui-resizable-helper-right{
    border-right: 2px solid #7f7f7f;
}

.ui-resizable-helper-left{
    border-left: 2px solid #7f7f7f;
}

#dialog {
    overflow: auto;
}

.float_none, #contentBtn {
    float: none;
}

.display_none {
    display: none;
}

.max-percent-width {
    width: 100%;
}

.max-percent-height {
    height: 100%;
}

.mermaidTooltip {
    display: none;
}

.ui-resizable-handle{
    background-color: #a6a6a6;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.ui-resizable-e{
    right: 0;
}

.ui-resizable-w{
    left: -3px;
}

#help_dialog input{
    width: 100%;
    padding: 3px;
}

/*--------------------buttons--------------------*/
.btn, .panel-btn {
    background-color: transparent;
    border: transparent;
    padding: 5px 5px;
    float: left;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.panel-btn {
    width: 33%;
    border-left: 1px solid #CCCCFF;
    border-bottom: 1px solid #CCCCFF;
}

.btn-group {
    display: inline-block;
    border: thin solid #CCCCFF;
    border-radius: 3px;
}

.btn:hover, .panel-btn:hover {
    background-color: #CCCCFF;
}

.show_left_panel_btn{
    height: 100%;
    border: none;
    padding: 0;
    display: none;
    float: left;
}

.btnRepositories{
    border: none;
    padding: 6px;
    margin-bottom: 3px;
    background-color: whitesmoke;
    width: 100%;
}

.btnRepositories:hover {
    background-color: #959595;
}
/*-------------------left panel-------------------*/
#left_panel {
    float: left;
    height: 100%;
    width: 20%;
}

#panel_contents {
    display: flex;
    overflow: auto;
}

#toc ul {
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 15px;

}

#toc a {
    color: black;
    text-decoration: none;
}