table {
    border-collapse: collapse;
    width: auto;
	font-size: 16px;
}

table, td, th {
    border: 1px solid #ddd;
}

th, td {
    padding: 5px;
}

th {
    height: 30px;
	background-color: #ffee22;
}

tr:nth-child(even){
	background-color: whitesmoke;
}

tr:hover {background-color: #ddd;}