table {
    border-collapse: collapse;
    width: 75%;
}

table, td, th {
    border: 1px solid gray;
}

th, td {
    padding: 5px;
}

th {
    height: 30px;
	background-color: #66ddff;
}

tr:nth-child(even){
	background-color: #f3f3f3;
}