<!DOCTYPE html>
<html>
	<head>
		<title>Mark2Down</title>

		<meta charset="UTF-8">

		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="/static/css/style.css">
	</head>
	<body>
		<header>
			<h1>Mark2Down</h1>
		</header>
		<div id="toolbox">
		</div>
		<form id="editor" method="post" action="markdown">
			<textarea name="text"></textarea>
			<input type="submit"/>
		</form>
		<footer>
		</footer>
	</body>
</html>
