<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MarkDown</title>

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


    <link rel="stylesheet" href="../static/css/style2.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <script src="../static/script/table.js"></script>
    <script src="../static/script/scripts.js"></script>

</head>

<body class="max-view-height column-flex">

<div id="dialog" title="Table">
    <table id="table">
    </table>
    <div class="btn-group">
        <button id="butonik" class="btn">ok</button>
        <button id="addRow" class="btn" onclick="addRow()">add row</button>
        <button id="addCol" class="btn" onclick="addCol()">add col</button>
        <button id="delRow" class="btn" onclick="delRow()">del row</button>
        <button id="delCol" class="btn" onclick="delCol()">del col</button>
    </div>
</div>

<nav class="flex-item">

    <div class="btn-group" style="float: right">
        <Button title="share" type="button" class="btn">
            <i class="fa fa-share-alt"></i> Share
        </Button>
        <Button title="export" type="button" class="btn">
            <i class="fa fa-download"></i> Export
        </Button>
        <Button title="login" type="button" class="btn">
            <i class="fa fa-user"></i> Login
        </Button>
    </div>
    <div>
        <div class="btn-group">
            <Button title="back" type="button" class="btn">
                <i class="fa fa-rotate-left"></i>
            </Button>
            <Button title="forward" type="button" class="btn">
                <i class="fa fa-rotate-right"></i>
            </Button>
        </div>
        <div class="btn-group">
            <Button title="Heading 1" type="button" class="btn" onclick="putChar('# ')">H1</Button>
            <Button title="Heading 2" type="button" class="btn" onclick="putChar('## ')">H2</Button>
            <Button title="Heading 3" type="button" class="btn" onclick="putChar('### ')">H3</Button>
            <Button title="Heading 4" type="button" class="btn" onclick="putChar('#### ')">H4</Button>
            <Button title="Heading 5" type="button" class="btn" onclick="putChar('##### ')">H5</Button>
            <Button title="Heading 6" type="button" class="btn" onclick="putChar('###### ')">H6</Button>
        </div>
        <div class="btn-group">
            <Button title="Bold" type="button" class="btn">
                <i class="fa fa-bold"></i></Button>
            <Button title="Italic" type="button" class="btn">
                <i class="fa fa-italic"></i></Button>
            <Button title="Underline" type="button" class="btn">
                <i class="fa fa-underline"></i></Button>
            <Button title="StrikeThrough" type="button" class="btn">
                <i class="fa fa-strikethrough"></i></Button>
            <Button title="typewriting" type="button" class="btn">T</Button>
        </div>
        <div class="btn-group">
            <Button title="align-left" type="button" class="btn">
                <i class="fa fa-align-left"></i>
            </Button>
            <Button title="align-center" type="button" class="btn">
                <i class="fa fa-align-center"></i>
            </Button>
            <Button title="align-block" type="button" class="btn">
                <i class="fa fa-align-justify"></i>
            </Button>
            <Button title="align-right" type="button" class="btn">
                <i class="fa fa-align-right"></i>
            </Button>
        </div>
        <div class="btn-group">
            <Button title="list-ol" type="button" class="btn" onclick="putChar('1. ')">
                <i class="fa fa-list-ol"></i>
            </Button>
            <Button title="list-ul" type="button" class="btn" onclick="putChar('- ')">
                <i class="fa fa-list-ul"></i>
            </Button>
        </div>
        <div class="btn-group">
            <Button id="tableButton" title="table" type="button" class="btn" onclick="createTable(6,3)">
                <i class="fa fa-table"></i>
            </Button>
            <Button title="include" type="button" class="btn">
                <i class="fa fa-paperclip"></i>
            </Button>
            <Button title="graph" type="button" class="btn">
                <i class="fa fa-bar-chart"></i>
            </Button>
            <Button title="code" type="button" class="btn" onclick="putChar('``` ```')">
                <i class="fa fa-code"></i>
            </Button>
        </div>
    </div>
</nav>

<div class="max-percent-height row-flex">
    <div class="flex-item item1">
        <div class="btn-group max-percent-width">
            <button class="btn max-percent-width" type="button">Comments</button>
            <button class="btn max-percent-width" type="button">File</button>
            <button class="btn max-percent-width" type="button">Content</button>
        </div>
        <div>

        </div>

    </div>

    <textarea id="editor" class="flex-item item2"></textarea>

    <div id="preview" class="flex-item item2">

    </div>
</div>

</body>
</html>