$def with(data)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MarkDown</title>

    <!--<script src="//code.jquery.com/jquery-1.10.2.js"></script>-->
    <!--<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->
    <script src="/static/jquery/jquery-1.12.2.min.js"></script>
    <script src="/static/jquery/jquery-ui-1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/jquery/jquery-ui-1.11.4/jquery-ui.min.css">


    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="/static/font-awesome-4.5.0/css/font-awesome.min.css">

    <script src="/static/mermaid/mermaid.min.js"></script>
    <link rel="stylesheet" href="/static/mermaid/mermaid.css">

    <script src="/static/script/table.js"></script>
    <script src="/static/script/scripts.js"></script>
    <script src="/static/script/export.js"></script>
    <script src="/static/script/adjustmentColumns.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/style_preview.css">
</head>

<body onload="init()">

<!-- Window with table -->
<div id="dialog" title="Table">

    <table id="table"></table>
</div>

<div id="previewDialog" title="Preview"></div>

<div id="printDialog" title="Print"></div>

<div id="help" style="display: none"></div>

<!-- navigation bar -->
<nav id="navigation">
    $for groups in data:
    <div class="btn-group"
         $if loop.first:
         style="float: right"
    >
        $for button in groups
        <Button title="$button[0]" type="button" class="btn" $:button[2]>$:button[1]</Button>
    </div>
</nav>

<!-- content -->
<div id="content">
    <div class="max-percent-height">
        <!-- left panel -->
        <div id="left_panel">
            <div id="panel_buttons" class="max-percent-width">
                <button id="commentsBtn" class="panel-btn" onclick="hideShowComponent('comments')">
                    Comments
                </button>
                <button id="fileBtn" class="panel-btn" onclick="hideShowComponent('repository')">
                    File
                </button>
                <button id="contentBtn" class="panel-btn float_none" onclick="hideShowComponent('toc')">
                    Content
                </button>
            </div>

            <div id="panel_contents">
                <div id="toc" class="panel-content"></div>
                <div id="comments" class="panel-content display_none"></div>
                <div id="repository" class="panel-content display_none"></div>
            </div>

        </div>
        <button id="showLeftPanel" title="Show left panel" type="button" class="show_left_panel_btn" onclick="showLeftPanel()">></button>

        <!-- text area -->
        <textarea id="editor" class="max-percent-height" onkeyup="onChange()" wrap="hard" cols="30"></textarea>

        <!-- preview -->
        <button id="showPreview" title="Show preview" type="button" class="show_left_panel_btn" onclick="showPreview()"><</button>
        <div id="preview" class="max-percent-height">
            <article id="previewValue">

            </article>
        </div>
    </div>
</div>
</body>
</html>
