<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<title> Table </title>
			<link rel="stylesheet" href="../static/css/style_tab.css">
		</head>

		<body>	
		
			<table class="">
				<tr>
				  <th>First Name</th>
				  <th>Last Name</th>
				  <th>Team</th>
				</tr>
				<tr>
				  <td>Jan</td>
				  <td>Samek</td>
				  <td>Word-killers</td>
				</tr>
				<tr>
				  <td>Tomáš</td>
				  <td>Šimandl</td>
				  <td>Word-killers</td>
				</tr>
				<tr>
				  <td>Jiřina</td>
				  <td>Chocholková</td>
				  <td>Word-killers</td>
				</tr>
				</table>
				
		</body>
	</html>	